<h1>웃으며 - 임재현, 문성욱</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/bXBiLAI2qc0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>너를 향한 내 맘이
서툰 내 표 현이
부담이 된 걸까 미안해
비 처진 너의 눈 속에
한 번만 내 모습이 보이길
간 절치 바랬어
너도 알고 있잖아
이런 내 마음을
말하지 못한 내 사랑
짧았던 만남 속에서
조금은 행복했던 기억
이런 게 사람 인가 봐
그래 네 맘 알아
너의 곁에 있기 엔
초 라한 내 모습은
어 울리지 않아서
너무 사랑했어
아름다운 너의 모습을
너의 흔적이 남아
행복했던 시간마저도
마치 운명처럼
운명처럼 너를 만나면
웃으며 인하게
너는 내맘 모르니까
헛던 나의 욕심이
나도 몰래 너를
그리 억했던 것같아
너 와의 시간 속에서
남 겨진 혼자만의 추억
어느새 또 네가 생각나
미억하고 싶어
너를 잊고 살 기엔
커 져가는 내 맘을
멈출 수간 없어서
너무 사랑했어
아름다운 너의 모습을
너의 흔적이 남아
행복했던 시간 마저도
마치 운명처럼
우연처럼 나를 만나면
웃으며 인사해줘
아무잉도 없던 것처럼
혹시 한 번이라도
이 노랠 듣는다면
내 마음 전한 수 있을까
꿈만 같았던 너와의 시간
다신 오지 않을 내 사랑
행복했어
널 만났던 모든 순간이
아무 의미 없었던
너와의 추억마저 도
운명처럼 우연처럼
우리 만나면
웃으며 고백하게
너를 사랑한다고</p>