<h1>착각 - 양다일</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/AMJHxEA-J8A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>나 그대를 언제부터 어떻게 좋아했는지 몰라요
눈 감아도 떠오르는 그대 날 어쩌면 좋을까요
몇 번을 잘 못했던 사랑에 두려워진 마음이
아직까지 바라만 보고 있으라 해요
날 사랑한다 말하던 그대 눈이
내 착각이면 어쩌죠
여전히 말 못하는 나라서
언젠가 내 표정에 나타나면
그때 어쩌면 좋을까요
항상 잃어왔던 누군가를 또 만들진 않을까
아직까지 바라만 볼 수밖에 없는데
널 사랑한다 말했던 나의 눈이 닿지 않으면 어쩌죠
여전히 말 못하는 나라서
언젠가 내 표정에 나타나서
그대 멀어지면 어쩌죠
난 괜찮아요 다 괜찮아요
나 이대로 있을게요
날 사랑한다 말했던 그대 눈이
내 착각이면 어쩌죠
여전히 말 못하는 나라서
언젠가 내 표정에 나타나면
그때 어쩌면 좋을까요</p>